[url "https://aur.archlinux.org/"]
    insteadOf = aur:
[url "https://github.com/bedumont/"]
    insteadOf = bed:
[url "https://github.com/"]
    insteadOf = gh:
[user]
	email = bedumont@ulb.ac.be
	name = Ben Dum
	signingkey = 2B482641E3687519
[credential]
	helper = cache
