[submodule ".vim/pack/my-plugins/start/ctrlp"]
	path = .vim/pack/my-plugins/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/pack/my-plugins/start/SimpylFold"]
	path = .vim/pack/my-plugins/start/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule ".vim/pack/my-plugins/start/YouCompleteMe"]
	path = .vim/pack/my-plugins/start/YouCompleteMe
	url = https://github.com/Valloric/Youcompleteme.git
[submodule ".vim/pack/my-plugins/start/python-syntax"]
	path = .vim/pack/my-plugins/start/python-syntax
	url = https://github.com/vim-python/python-syntax.git
[submodule ".vim/pack/my-plugins/start/syntastic"]
	path = .vim/pack/my-plugins/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule ".vim/pack/my-plugins/start/vim-python-pep8-indent"]
	path = .vim/pack/my-plugins/start/vim-python-pep8-indent
	url = https://github.com/vimjas/vim-python-pep8-indent.git
[submodule ".vim/pack/my-plugins/start/vim-vinegar"]
	path = .vim/pack/my-plugins/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule ".vim/plugin/vim-autopep8"]
	path = .vim/plugin/vim-autopep8
	url = https://github.com/tell-k/vim-autopep8.git
[submodule ".vim/pack/my-plugins/start/vimtex"]
	path = .vim/pack/my-plugins/start/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule ".vim/pack/my-plugins/start/ultisnips"]
	path = .vim/pack/my-plugins/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
