[submodule ".vim/pack/my-plugins/start/SimpylFold"]
	path = .vim/pack/my-plugins/start/SimpylFold
	url = gh:tmhedberg/SimplyFold.git
[submodule ".vim/pack/my-plugins/start/YouCompleteMe"]
	path = .vim/pack/my-plugins/start/YouCompleteMe
	url = gh:Valloric/YouCompleMe.git
[submodule ".vim/pack/my-plugins/start/ctrlp.vim"]
	path = .vim/pack/my-plugins/start/ctrlp.vim
	url = gh:ctrlpvim/ctrlp.vim.git
[submodule ".vim/pack/my-plugins/start/python-syntax"]
	path = .vim/pack/my-plugins/start/python-syntax
	url = gh:vim-python/python-syntax.git
[submodule ".vim/pack/my-plugins/start/syntastic"]
	path = .vim/pack/my-plugins/start/syntastic
	url = gh:vim-python/vim-syntastic.git
[submodule ".vim/pack/my-plugins/start/vim-python-pep8-indent"]
	path = .vim/pack/my-plugins/start/vim-python-pep8-indent
	url = gh:Vimjas/vim-python-pep8-indent.git
[submodule ".vim/pack/my-plugins/start/vim-vinegar"]
	path = .vim/pack/my-plugins/start/vim-vinegar
	url = gh:tpope/vim-vinegar.git
[submodule ".vim/plugin/vim-autopep8"]
	path = .vim/plugin/vim-autopep8
	url = gh:tell-k/vim-autopep8.git
